.tempDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.tempDetails p {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
}