/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('./fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('./fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

html {
    height: 100%;
    display:flex;
    flex-direction:column;
}

img {
    max-width: 100%;
    max-height: 100%;
}
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-grow:1;
    flex-direction: column;
    background-color: #202020;
    /* height: 100%; */
    padding-top: 30px;
    background-image: url("./img/engine.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat;

}

button {
    border: none;
}



.bottomButtons{
    /* width: 80px; */
    flex-grow:1;
    background-color: #121212;
    border-top: solid 1px #3484A9;
    color: #FFFFFF;
}

.topBtn {
    min-width: 80px;
    background-color: #121212;
    border-top: solid 1px #3484A9;
}

.infoTop {
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 5px;
    padding-bottom: 0px;
    margin-top:auto;
    justify-content: stretch;
    min-height: 60px;
    /* border: outset; */
    background-color: #202020;
    /* border-color: #3484A9; */
}

.info {
    display: flex;
    flex-grow: 1;
    border: #FFFFFF;

}

.infoCard {
    flex-grow: 1;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*border: 1px solid red;*/
    color: #FFFFFF;
    background-color: rgba(52, 52, 77, 0.8);
}

.temperature {
    display: flex;
    background-color: #202020;
    padding: 4px;
    align-items: center;
    /* border: outset; */
    /* border-color: #3484A9; */
    text-align: center;
    color: white;
    justify-content: center;
    border: none;
    /* border-radius: 79px 79px 79px 79px; */
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    border-left: solid 1px #3484A9;
    border-right: solid 1px #3484A9;
    border-bottom: solid 1px #3484A9;

}

.data {
    font-size: 20px;
}