/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/montserrat-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('./fonts/montserrat-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/montserrat-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('./fonts/montserrat-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('./fonts/montserrat-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('./fonts/montserrat-v14-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}

html {
    height: 100%;
    display:flex;
    flex-direction:column;
}

img {
    max-width: 100%;
    max-height: 100%;

}
body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-grow:1;
    flex-direction: column;
    background-color: #303030;
    /* height: 100%; */
    padding-top: 30px;

}
#temp {
    color: #e1e1ff;
}

.resp {
	max-width: 100%;
	max-height: 230px;
    margin-left: auto;
    margin-right: auto;
}

button {
    border: none;
}

.climate {
    display:flex;
    max-height: 300px;
}

.car {
    flex-grow: 1;
	align-content: center;
	max-height:60%;
}

.topBtn {
	min-width: 80px;
    background-color: #121212;
    border-top: solid 1px #3484A9;
}

.spacer {
	flex-grow:1;
}

#cpu {
    color: #e1e1ff;
}



.infoTop {
	bottom: 0;
	width: 100%;
    display: flex;
    padding: 5px;
    padding-bottom: 0px;
    margin-top:auto;
    justify-content: stretch;
    min-height: 60px;
    /* border: outset; */
    background-color: #303030;
    /* border-color: #3484A9; */
}

#bText {
    padding: 0;
    margin: 0;
}
.bottomButtons{
    /* width: 80px; */
    flex-grow:1;
    background-color: #121212;
    border-top: solid 1px #3484A9;
    color: #FFFFFF;
}
.buttonP {
    /* flex-basis: 40px; */
    display: flex;
    color: #3484A9;
    /* flex-grow: 1; */
    /* border-color: #3484A9; */
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #303030;
}

.indicators {
    display: flex;
    flex-basis: 49%;
    justify-content: space-between;
}

.indicator {
    flex-basis: 50px;
    height: 5px;
    border: none;
    border-radius: 12px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #121212;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    text-align: center;
    margin-top: 5%
    
}

.buttonPe {
    flex-basis: 40px;
    display: flex;
    color: #3484A9;
    flex-grow: 1;
    /* border-color: #3484A9; */
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #303030;
}

.buttonGroup {
    display: flex;
    flex-basis: 49%;
}

.buttonStack {
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-basis: 40%;
    /* border-color: #3484A9; */
}

.btn {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.top{
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.largeText {
    font-size: 1.6em;
}

.spacerParent {
	display: flex;
	flex-direction: column;
}

.bottom {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.material-icons.blue { color: #0E4D92; }

.material-icons.red { color: #B22222; }

.material-icons.md-48 { font-size: 48px; }

.bottomRow {
    display: flex;
    justify-content: space-between;
} 

.circle {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width:140px;
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    height:140px;
    border: outset;
    border-color: #3484A9;
    color: #3484A9;
    border-radius: 50%;
    background: #303030;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: auto;
}

.frontButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.temperature {
    display: flex;
    background-color: #303030;
    padding: 4px;
    align-items: center;
    /* border: outset; */
    /* border-color: #3484A9; */
    text-align: center;
    color: white;
    justify-content: center;
    border: none;
    /* border-radius: 79px 79px 79px 79px; */
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    border-left: solid 1px #3484A9;
    border-right: solid 1px #3484A9;
    border-bottom: solid 1px #3484A9;

}
.tempText {
    height: 80px;
    width: 80px;
    font-size: 30px;
    line-height: 80px;
    border-radius: 50%;
    border: solid;
    border-color: white;
}

.mid {
    margin: auto;
}