html {
	height: 100%;
}

.body {
    background-color: #161625;
    color: #e1e1ff;
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
}
#temp {
    color: #e1e1ff;
}

.topBtn {
	min-width: 80px;
}

.spacer {
	flex-grow:1;
}

#cpu {
    color: #e1e1ff;
}

.temperature {
    display: flex;
    background-color: #161625;
    padding: 4px;
    align-items: center;
    border: outset;
    border-color: #3484A9;
    text-align: center;
    color: white;
    justify-content: center;
    border-radius: 79px 79px 79px 79px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.75);
    margin-left: 5px;
    margin-right: 5px;
}

.infoTop {
	bottom: 0;
	widt: 100%;
    display: flex;
    padding: 5px;
    border: outset;
    background-color: #000000;
    border-color: #3484A9;
}

#bText {
    padding: 0;
    margin: 0;
}

.buttonP {
    flex-basis: 40px;
    display: flex;
    color: #3484A9;
    flex-grow: 1;
    border-color: #3484A9;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #000000;
}

.indicators {
    display: flex;
    flex-basis: 49%;
    justify-content: space-between;
}

.indicator {
    flex-basis: 50px;
    height: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #161625;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    text-align: center;
    
}

.buttonPe {
    flex-basis: 40px;
    display: flex;
    color: #3484A9;
    flex-grow: 1;
    border-color: #3484A9;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #000000;
}

.buttonGroup {
    display: flex;
    flex-basis: 49%;
}

.buttonStack {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    border-color: #3484A9;
}

.btn {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.top{
    display: flex;
    justify-content: space-between;
    margin-top: 4%;
}

.largeText {
    font-size: 1.6em;
}

.spacerParent {
	display: flex;
	flex-direction: column;
}

.bottom {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
}

.material-icons.blue { color: #0E4D92; }

.material-icons.red { color: #B22222; }

.material-icons.md-48 { font-size: 48px; }

.bottomRow {
    display: flex;
    justify-content: space-between;
}

.circle {
    display: flex;
    width:140px;
    margin-top: 10px;
    font-size: 15px;
    height:140px;
    border: outset;
    border-color: #3484A9;
    color: #3484A9;
    border-radius: 50%;
    background: #000000;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: auto;
}

.tempText {
    height: 80px;
    width: 80px;
    font-size: 20px;
    line-height: 80px;
    border-radius: 50%;
    border: solid;
    border-color: white;
}
