[Unit]
Description=OpenAuto Pro Splash service
DefaultDependencies=no
Requires=local-fs.target
After=local-fs.target

[Service]
User=pi
Type=oneshot
Restart=no
Environment="OPENAUTO_SPLASH_VIDEOS=/usr/share/openautopro/Jagaur.h264"
ExecStart=/usr/local/bin/openauto_splash

[Install]
WantedBy=sysinit.target
